{% extends 'base.html.twig' %}
{% block body %}
<div class="">
    <p>{{collection.name}}</p>
    <div class="add-entry">
        {# {{form()}} #}
        <p><a href="{{ path('search') }}">Добавить новую запись</a></p>
    </div>
</div>
<div>
    {% for entry in collection.entries %}
        <p>{{ entry.data.title }}</p>
    {% endfor %}
</div>
{% endblock %}